<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.uga.robots"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
<uses-permission android:name="android.permission.BLUETOOTH" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.CAMERA"/>
<uses-feature android:name="android.hardware.camera"></uses-feature>
<uses-feature android:name="android.hardware.camera.autofocus"></uses-feature>
<uses-sdk android:minSdkVersion="7"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".android.PrimaryActivity" android:label="Robots">
        	<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        <activity android:name=".android.CameraPhotoActivity"></activity>
        <activity android:name=".android.InternalsActivity"></activity>
        <activity android:name=".android.MotorsActivity"></activity>
        <activity android:name=".android.ProgramActivity"></activity>
        <activity android:name=".android.SensorsActivity"></activity>


    </application>
</manifest>